[{{SHARE_NAME}}]
   path = {{SHARE_PATH}}
   browsable = yes
   writable = yes
   guest ok = no
   read only = no
   valid users = {{SMB_USER}}
   force user = {{SMB_USER}}
   create mask = 0664
   directory mask = 0775
