global_defs {
  router_id {{ROUTER_ID}}
}

vrrp_script chk_haproxy {
  script "/usr/local/sbin/haproxy_check.sh"
  interval 2
  weight -5
  fall 2
  rise 2
}

vrrp_instance VI_1 {
    state {{STATE}}
    interface {{INTERFACE}}
    virtual_router_id {{VRID}}
    priority {{PRIORITY}}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{AUTH_PASS}}
    }
    virtual_ipaddress {
        {{VIP}}
    }

    track_script {
        chk_haproxy
    }
}
